version: '3.8'
services:
  postgres:
    image: postgres:15-alpine
    container_name: pos_postgres
    ports:
      - "${DB_PORT}:5432"
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgres/postgres_data
    restart: always

volumes:
  postgres_data: